body {
    height: 600px;
    background-color: #F3EDDD;
}

header {
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    vertical-align: middle;
}

#name {
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

#header-buttons {
    float: right;
    height: 100%;
}

#header-buttons span {
    display: block;
    width: 35px;
    height: 100%;
    margin-right: 5px;
    font-size: 18px;
    float: left;
    text-align: center;
    color: #222;
    cursor: pointer;
}

#clear:hover {
    color: white;
    background-color: #c9302c;
}

#issues:hover {
    color: white;
    background-color: #ec971f;
}

#info:hover {
    color: white;
    background-color: #0275d8;
}

#container {
    width: 100%;
    max-width: 800px;
    max-height: 560px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.column {
    display: inline-block;
    width: 230px;
    min-height: 540px;
    vertical-align: top;
    padding: 0 5px;
}

.column.placeholder {
    width: 40px;
    background-color: #E1D7BD;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
    padding-top: 200px;
    cursor: pointer;
    min-height: 340px;
    margin: 0 5px;
}

.column.placeholder.active:hover {
    background-color: #ffd3ad;
}

.column.placeholder:first-child {
    width: 230px;
    font-size: 100px;
    padding-top: 170px;
    min-height: 370px;
}

.column .header {
    height: 20px;
    font-weight: bold;
    background-color: #444;
    margin-bottom: 1px;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    text-align: left;
}

.column .header span {
    display: inline-block;
}

.column .header .format {
    width: 65px;
    text-align: left;
    padding-left: 5px;
}

.column .header .klass {
    width: 80px;
    text-align: left;
}

.column .header .dust {
    width: 60px;
    text-align: left;
}

.fa-flask {
    position: relative;
    padding-left: 2px;
    font-size: 0.8em;
    bottom: 1px;
}

.column .header .closer {
    width: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    float: right;
    text-align: center;
}

.column .header .closer:hover {
    color: white;
    background-color: red;
}

.card {
    height: 20px;
    font-weight: bold;
    background-color: #E1D7BD;
    margin-bottom: 1px;
    position: relative;
    vertical-align: middle;
    line-height: 20px;
}

.card.match {
    opacity: 0.5;
}

.card.legendary {
    color: #F07000;
}

.card.epic {
    color: #AB48EE;
}

.card.rare {
    color: #198EFF;
}

.card.common {
    color: #0FAF03;
}

.card span {
    display: inline-block;
}

.card:hover {
    background-color: #ffd3ad;
}

.card .mana {
    width: 0px;
    color: #2C82C9;
    font-size: 220%;
    position: absolute;
    top: -1px;
    left: 4px;
}

.card .cost {
    width: 20px;
    padding: 0 10px 0 5px;
    color: white;
    position: relative;
    bottom: 1px;
    z-index: 100;
}

.card .name {
    width: 175px;
    text-align: left;
}

.card .num {
    width: 20px;
    color: black;
}

.card .num.star {
    font-size: 120%;
    position: relative;
    top: -1px;
}

.swal-button {
    background-color: #F07000;
}