body {
    height: 600px;
    background-color: #F3EDDD;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 12px;
    color: #222;
}

header {
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    vertical-align: middle;
}

#name {
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

#header-buttons {
    float: right;
    height: 100%;
}

#header-buttons span {
    display: block;
    width: 30px;
    height: 100%;
    margin-right: 5px;
    font-size: 18px;
    float: left;
    text-align: center;
    cursor: pointer;
}

#clear:hover {
    color: white;
    background-color: #c9302c;
}

#issues:hover {
    color: white;
    background-color: #ec971f;
}

#info:hover, #maximize:hover {
    color: white;
    background-color: #0275d8;
}

#container {
    width: 100%;
    max-width: 800px;
    max-height: 560px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.column {
    display: inline-block;
    width: 230px;
    min-height: 540px;
    padding: 0 5px;
    vertical-align: top;
}

.column.placeholder {
    padding: 0;
    width: 40px;
    background-color: #E1D7BD;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    margin: 0 5px;
    height: 550px;
}

.column.placeholder:first-child {
    width: 240px;
    font-size: 80px;
    line-height: 80px;
}

.column.placeholder .adder {
    height: 180px;
    box-sizing: border-box;
    padding-top: 70px;
    line-height: 40px;
}

.column.placeholder:first-child .adder {
    padding-top: 50px;
}

.column.placeholder .adder:first-child {
    height: 190px;
}

.column.placeholder.active .adder:hover {
    background-color: #ffd3ad;
}

.column .header {
    height: 20px;
    font-weight: bold;
    background-color: #444;
    margin-bottom: 1px;
    margin-left: 6px;
    vertical-align: middle;
    line-height: 20px;
    color: white;
    text-align: left;
    position: relative;
}

.column .header span {
    display: inline-block;
}

.column .header .copy {
    width: 12px;
    position: absolute;
    left: 0;
    background-color: #444;
}

.column .header .copy .fa-copy {
    position: relative;
    padding-left: 1px;
    font-size: 12px;
    bottom: 1px;
}

.column .header .copy span:before,
.column .header .copy span:after {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
}

.column .header .copy span:before {
    border-right-color: #444;
    left: -12px;
}

.column .header .copy span:after {
    border-left-color: #444;
    left: 12px;
}

.column .header .copy:hover {
    color: #222;
    background-color: #ec971f;
}

.column .header .copy:hover span:before {
    border-right-color: #ec971f;
}

.column .header .copy:hover span:after {
    border-left-color: #ec971f;
}

.column .header .format {
    width: 120px;
    text-align: left;
    margin-left: 24px;
}

.column .header .format .fa-angle-right {
    padding: 0 2px;
}

.column .header .dust {
    width: 54px;
    text-align: left;
}

.column .header .dust .fa-flask {
    position: relative;
    padding-left: 2px;
    font-size: 9.6px;
    bottom: 1px;
}

.column .header .closer {
    width: 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 0;
}

.column .header .closer:hover {
    color: white;
    background-color: #c9302c;
}

.column .header .copy-message {
    display: none;
    position: absolute;
    top: 0;
    width: 224px;
    background-color: #0FAF03;
    text-align: center;
}

.card {
    height: 20px;
    font-weight: bold;
    background-color: #E1D7BD;
    margin-bottom: 1px;
    margin-left: 6px;
    position: relative;
    vertical-align: middle;
    line-height: 20px;
}

.card.empty {
    background-color: transparent;
}

.card.match {
    opacity: 0.5;
}

.card.legendary {
    color: #F07000;
}

.card.epic {
    color: #AB48EE;
}

.card.rare {
    color: #198EFF;
}

.card.common {
    color: #0FAF03;
}

.card:hover {
    background-color: #ffd3ad;
}

.card.empty:hover {
    background-color: transparent;
}

.card div {
    float: left;
}

.card .cost {
    width: 12px;
    background-color: #2C82C9;
    color: white;
    position: absolute;
    left: 0;
}

.card .cost:before,
.card .cost:after {
    content: "";
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.card .cost:before {
    border-right: 6px solid #2C82C9;
    left: -6px;
}

.card .cost:after {
    border-left: 6px solid #2C82C9;
    left: 12px;
}

.card .cost span {
    margin-left: -100%;
    margin-right: -100%;
    position: relative;
    z-index: 2;
}

.card .name {
    width: 180px;
    margin-left: 24px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .num {
    width: 20px;
    color: black;
}

.card .num.star {
    font-size: 120%;
    position: relative;
    top: -1px;
}

.card:last-child {
    margin-bottom: 10px;
}

.swal-button {
    background-color: #F07000;
}

.swal-button:focus {
    outline: none;
    box-shadow: none;
}

.swal-text {
    text-align: center;
}

.fa-heart {
    color: #c9302c;
}

.credit-link {
    color: #2C82C9;
    text-decoration: none;
}